### Server setting ###
webdav.url=http://XXXX:1000
webdav.username=myuser
webdav.password=mypwd

### Local setting ###
local.downloadTo=/path/to
enableRootLevel=false
running.delay.ms=2000
running.interval.ms=10000

### Email setting ###
sender.email=
receiver.email=
smtp.host=